h1{
    color: blue;
    background-color: blueviolet;
}
h2{
    color: aqua;
    background-color: brown;
}
summary{
    color: violet;
}
ol{
    color: chocolate;

}
body{
    background-color:green ;
}